In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
x = df.drop('species',axis=1)
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
y= df['species']
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression, LogisticRegression

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [ ]:
l = LabelEncoder()
y_train = l.fit_transform(y_train)
y_test = l.fit_transform(y_test)

In [ ]:
y_train

array([1, 2, 1, 1, 0, 0, 2, 1, 1, 2, 0, 2, 2, 1, 2, 1, 2, 2, 1, 1, 1, 0,
       2, 0, 2, 1, 2, 0, 1, 2, 1, 0, 1, 1, 0, 2, 2, 2, 0, 1, 2, 2, 1, 2,
       1, 0, 1, 2, 0, 0, 0, 2, 2, 1, 2, 0, 2, 2, 0, 2, 2, 1, 2, 1, 1, 1,
       2, 1, 1, 2, 1, 2, 2, 2, 2, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       2, 2, 1, 0, 0, 1, 2, 0, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 2, 1,
       0, 0, 0, 2, 0, 0, 2, 0, 1, 1])

In [ ]:
y_test

array([1, 2, 0, 2, 1, 2, 1, 2, 0, 2, 1, 2, 1, 1, 0, 1, 0, 2, 2, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 2, 2])

In [ ]:
first = LinearRegression()
first.fit(x_train,y_train)
first.score(x_train,y_train)

0.9312497453311918

In [ ]:
first.score(x_test,y_test)

0.9257875035096035

In [ ]:
second = LogisticRegression()
second.fit(x_train,y_train)
second.score(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.975

In [ ]:
second.score(x_test,y_test)

0.9666666666666667

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/heart.csv')
df

     age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0     63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1     37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2     41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3     56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4     57    0   0     120   354    0  ...     1      0.6    2    0      2       1
..   ...  ...  ..     ...   ...  ...  ...   ...      ...  ...  ...    ...     ...
298   57    0   0     140   241    0  ...     1      0.2    1    0      3       0
299   45    1   3     110   264    0  ...     0      1.2    1    0      3       0
300   68    1   0     144   193    1  ...     0      3.4    1    2      3       0
301   57    1   0     130   131    0  ...     1      1.2    1    1      3       0
302   57    0   1     130   236    0  ...     0      0.0    1    1      2       0

[303 rows x 14 columns]

In [ ]:
x = df.drop(['age','sex','output'],axis= 1)

In [ ]:
x

     cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  caa  thall
0     3     145   233    1        0       150     0      2.3    0    0      1
1     2     130   250    0        1       187     0      3.5    0    0      2
2     1     130   204    0        0       172     0      1.4    2    0      2
3     1     120   236    0        1       178     0      0.8    2    0      2
4     0     120   354    0        1       163     1      0.6    2    0      2
..   ..     ...   ...  ...      ...       ...   ...      ...  ...  ...    ...
298   0     140   241    0        1       123     1      0.2    1    0      3
299   3     110   264    0        1       132     0      1.2    1    0      3
300   0     144   193    1        1       141     0      3.4    1    2      3
301   0     130   131    0        1       115     1      1.2    1    1      3
302   1     130   236    0        0       174     0      0.0    1    1      2

[303 rows x 11 columns]

In [ ]:
y = df['output']

In [ ]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [ ]:
x_train

     cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  caa  thall
159   1     130   221    0        0       163     0      0.0    2    0      3
89    0     100   248    0        0       122     0      1.0    1    0      2
107   0     138   236    0        0       152     1      0.2    1    0      2
182   0     130   330    0        0       169     0      0.0    2    0      2
141   0     115   303    0        1       181     0      1.2    1    0      2
..   ..     ...   ...  ...      ...       ...   ...      ...  ...  ...    ...
58    3     118   182    0        0       174     0      0.0    2    0      2
78    1     128   205    1        1       184     0      0.0    2    0      2
242   0     145   212    0        0       132     0      2.0    1    2      1
123   2     108   267    0        0       167     0      0.0    2    0      2
209   0     140   177    0        1       162     1      0.0    2    1      3

[242 rows x 11 columns]

In [ ]:
x_test

     cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  caa  thall
152   3     170   227    0        0       155     0      0.6    1    0      3
286   3     134   204    0        1       162     0      0.8    2    2      2
228   3     170   288    0        0       159     0      0.2    1    0      3
198   0     120   267    0        1        99     1      1.8    1    2      3
98    2     130   315    0        1       162     0      1.9    2    1      2
..   ..     ...   ...  ...      ...       ...   ...      ...  ...  ...    ...
116   2     130   214    0        0       168     0      2.0    1    0      2
239   0     126   282    0        0       156     1      0.0    2    0      3
64    2     140   211    1        0       165     0      0.0    2    0      2
213   0     145   307    0        0       146     1      1.0    1    0      3
51    0     120   302    0        0       151     0      0.4    1    0      2

[61 rows x 11 columns]

In [ ]:
y_train

159    1
89     1
107    1
182    0
141    1
      ..
58     1
78     1
242    0
123    1
209    0
Name: output, Length: 242, dtype: int64

In [ ]:
y_test

152    1
286    0
228    0
198    0
98     1
      ..
116    1
239    0
64     1
213    0
51     1
Name: output, Length: 61, dtype: int64

In [ ]:
lin = LinearRegression()
lin.fit(x_train,y_train)
lin.score(x_train,y_train)

0.5183305453163443

In [ ]:


lin.score(x_test,y_test)

0.33520297696709556

In [ ]:
second = LogisticRegression()
second.fit(x_train,y_train)
second.score(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.8553719008264463

In [ ]:
second.score(x_test,y_test)

0.7868852459016393

In [ ]:
from sklearn import preprocessing
Standardisation = preprocessing.StandardScaler()
new_x= Standardisation.fit_transform(x)

In [ ]:
new_x

array([[ 1.97312292,  0.76395577, -0.25633371, ..., -2.27457861,
        -0.71442887, -2.14887271],
       [ 1.00257707, -0.09273778,  0.07219949, ..., -2.27457861,
        -0.71442887, -0.51292188],
       [ 0.03203122, -0.09273778, -0.81677269, ...,  0.97635214,
        -0.71442887, -0.51292188],
       ...,
       [-0.93851463,  0.70684287, -1.029353  , ..., -0.64911323,
         1.24459328,  1.12302895],
       [-0.93851463, -0.09273778, -2.2275329 , ..., -0.64911323,
         0.26508221,  1.12302895],
       [ 0.03203122, -0.09273778, -0.19835726, ..., -0.64911323,
         0.26508221, -0.51292188]])

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(new_x,y,test_size = 0.2)

In [ ]:
x_train

array([[-0.93851463, -1.23499586,  0.14950142, ...,  0.97635214,
        -0.71442887, -0.51292188],
       [-0.93851463,  2.42022998,  0.05287401, ..., -0.64911323,
        -0.71442887, -0.51292188],
       [ 0.03203122, -0.43541521,  0.2847798 , ...,  0.97635214,
        -0.71442887,  1.12302895],
       ...,
       [ 1.00257707, -0.3783023 ,  0.51668558, ..., -2.27457861,
         0.26508221, -0.51292188],
       [ 0.03203122, -0.66386682, -0.19835726, ...,  0.97635214,
        -0.71442887, -0.51292188],
       [-0.93851463, -0.66386682,  0.26545431, ..., -0.64911323,
         0.26508221,  1.12302895]])

In [ ]:
y_train

109    1
241    0
277    0
172    0
35     1
      ..
55     1
72     1
33     1
3      1
211    0
Name: output, Length: 242, dtype: int64

In [ ]:
lin = LinearRegression()
lin.fit(x_train,y_train)
lin.score(x_train,y_train)

0.5117028744828632

In [ ]:
predict = lin.predict([[3	,170,	227,	0,	0,	155,	0,	0.6,	1,	0,	3]])
predict

array([16.75123148])

In [ ]:
second = LogisticRegression()
second.fit(x_train,y_train)
second.score(x_train,y_train)

0.8471074380165289

In [ ]:
predict = second.predict([[3,	170,	288,	0,	0,	159,	0,	0.2,	1,	0,	3]])
predict

array([1])